@font-face {
  font-family: IRANSansXBold;
  src: url('../font//woff2/IRANSansX-Bold.woff2') format('woff2'), url('../font//woff2/IRANSansX-Bold.woff') format('woff');
}
@font-face {
  font-family: IRANSansXBlack;
  src: url('../font//woff2/IRANSansX-Black.woff2') format('woff2'), url('../font//woff2/IRANSansX-Black.woff') format('woff');
}
@font-face {
  font-family: IRANSansXLight;
  src: url('../font//woff2/IRANSansX-Light.woff2') format('woff2'), url('../font//woff2/IRANSansX-Light.woff') format('woff');
}
@font-face {
  font-family: IRANSansXMedium;
  src: url('../font//woff2/IRANSansX-Medium.woff2') format('woff2'), url('../font//woff2/IRANSansX-Medium.woff') format('woff');
}
@font-face {
  font-family: IRANSansXRegular;
  src: url('../font//woff2/IRANSansX-Regular.woff2') format('woff2'), url('../font//woff2/IRANSansX-Regular.woff') format('woff');
}
@font-face {
  font-family: IRANSansXThin;
  src: url('../font//woff2/IRANSansX-Thin.woff2') format('woff2'), url('../font//woff2/IRANSansX-Thin.woff') format('woff');
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #d7dbec;
  direction: rtl;
  font-family: IRANSansXMedium;
}
html {
  scroll-behavior: smooth;
}
.container {
  display: flex;
  margin: 0.5em 0.9em;
  width: calc(100% - 1.8em);
  height: calc(100% - 1em);
  position: relative;
}
.container .column {
  position: fixed;
  display: flex;
  flex-direction: column;
  margin-left: 1.5em;
  width: 17%;
  height: calc(100vh - 1em);
  z-index: 100;
}
.container .column .info-group {
  height: 30vh;
  border-radius: 0.7em;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.85em;
}
.container .column .info-group .profile-container {
  width: 65px;
  height: 65px;
  margin: 0.6em 0;
  border-radius: 50%;
  overflow: hidden;
}
.container .column .info-group .profile-container .profile {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 1200px) {
  .container .column .info-group .profile-container {
    width: 45px;
    height: 45px;
    margin-bottom: 0.3em;
  }
}
@media only screen and (max-width: 400px) {
  .container .column .info-group .profile-container {
    width: 45px;
    height: 45px;
    margin: 0.5em 0;
  }
}
.container .column .info-group .email {
  color: #7a92af;
  font-size: 0.9em;
  font-family: IRANSansXLight;
}
.container .column .info-group .buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 0.8em;
  width: 70%;
  height: 27%;
}
.container .column .info-group .buttons .item-button {
  display: flex;
  text-decoration: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid #d7dbec;
  border-radius: 0.5em;
  width: 42%;
  height: 100%;
  font-size: 0.65em;
  cursor: pointer;
  position: relative;
}
.container .column .info-group .buttons .item-button img {
  width: 30%;
}
@media only screen and (max-width: 1200px) {
  .container .column .info-group .buttons .item-button img {
    width: 20%;
    margin-bottom: 0.4em;
  }
}
@media only screen and (max-width: 500px) {
  .container .column .info-group .buttons .item-button img {
    width: 13px;
  }
}
.container .column .info-group .buttons .item-button .notification {
  position: absolute;
  top: -8px;
  right: -6px;
}
@media only screen and (max-width: 1200px) and (min-width: 768px) {
  .container .column .info-group .buttons .item-button {
    font-size: 0.6em;
    margin: 0.5em auto;
    width: 60%;
    padding: 0.5em 0;
  }
}
@media only screen and (max-width: 768px) {
  .container .column .info-group .buttons .item-button {
    width: 37%;
  }
}
.container .column .info-group .buttons .green {
  color: #fff;
  background-color: #00baba;
}
.container .column .info-group .buttons .normal {
  color: #7a92af;
}
@media only screen and (max-width: 1200px) and (min-width: 768px) {
  .container .column .info-group .buttons {
    flex-direction: column;
    padding-top: 1em;
    height: 35%;
  }
}
@media only screen and (max-width: 768px) {
  .container .column .info-group .buttons {
    margin-top: 0.5em;
  }
}
.container .column .info-group .edit-link {
  font-size: 0.9em;
  margin: 0.5em 0;
  cursor: pointer;
}
@media only screen and (max-width: 1200px) {
  .container .column .info-group .edit-link {
    margin-top: 1.5em;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 768px) {
  .container .column .info-group {
    height: 31vh;
    font-size: 0.7em;
  }
}
@media only screen and (max-width: 768px) {
  .container .column .info-group {
    font-size: 0.75em;
    height: 26vh;
    border-radius: 0.7em 0 0 0.7em;
  }
}
@media only screen and (max-width: 350px) {
  .container .column .info-group {
    height: 23vh;
  }
}
.container .column .navbar {
  height: 67vh;
  background-color: #fff;
  border-radius: 0.7em;
  margin-top: 0.4em;
  padding-top: 1em;
  font-size: 0.75em;
  position: relative;
}
.container .column .navbar img {
  width: 9%;
  margin-right: 0.4em;
  margin-left: 1.3em;
}
@media only screen and (max-width: 1200px) and (min-width: 768px) {
  .container .column .navbar img {
    width: 8%;
  }
}
@media only screen and (max-width: 768px) {
  .container .column .navbar img {
    width: 6%;
  }
}
@media only screen and (max-width: 500px) {
  .container .column .navbar img {
    width: 13px;
  }
}
.container .column .navbar .active {
  background-color: #00baba;
  border-radius: 0.9em 0 0 0.9em;
  color: #fff;
  width: 90%;
  height: 10%;
  display: flex;
  align-items: center;
  padding: 0.75em 1.5em;
  text-decoration: none;
}
.container .column .navbar .nav-item {
  display: flex;
  align-items: center;
  padding: 0 1.5em;
  height: 6vh;
  cursor: pointer;
  text-decoration: none;
  color: #131523;
}
.container .column .navbar .logout {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #7a92af;
  color: #e12d2d;
  border-radius: 0.5em;
  width: 70%;
  height: 5vh;
  font-size: 0.85em;
  position: absolute;
  right: 10%;
  cursor: pointer;
  margin-top: 1.2em;
}
@media only screen and (max-width: 1200px) and (min-width: 768px) {
  .container .column .navbar {
    font-size: 0.6em;
  }
}
@media only screen and (max-width: 768px) {
  .container .column .navbar {
    height: 68vh;
    border-radius: 0.7em 0 0 0.7em;
    font-size: 0.68em;
  }
}
@media only screen and (max-width: 500px) {
  .container .column .navbar {
    height: 69vh;
  }
}
@media only screen and (max-width: 1000px) and (min-width: 768px) {
  .container .column {
    width: 22%;
  }
}
@media only screen and (max-width: 768px) {
  .container .column {
    display: none;
    width: 45%;
    height: 90vh;
    margin-top: 3.7em;
  }
}
@media only screen and (max-width: 500px) {
  .container .column {
    width: 65%;
  }
}
.container .row {
  width: 82%;
  height: calc(100vh - 1em);
  position: absolute;
  right: 19%;
  width: 80%;
}
.container .row .input-group {
  border-radius: 0.7em;
  height: 8vh;
  background-color: #fff;
  margin-bottom: 0.75em;
  display: flex;
  align-items: center;
  padding: 0 1.3em;
}
.container .row .input-group .right-group {
  width: 70%;
}
.container .row .input-group .right-group .search-label {
  position: relative;
  width: 70%;
}
.container .row .input-group .right-group .search-label .input {
  border: none;
  padding: 0 2em;
  margin: 10px 0;
  text-align: right;
  width: 100%;
  font-family: IRANSansXMedium;
}
.container .row .input-group .right-group .search-label .input::placeholder {
  color: #d7dbec;
  font-weight: 500;
  font-family: IRANSansXMedium;
}
@media only screen and (max-width: 1200px) and (min-width: 768px) {
  .container .row .input-group .right-group .search-label .input::placeholder {
    font-size: 0.8em;
  }
}
.container .row .input-group .right-group .search-label .input:focus {
  outline: none;
}
.container .row .input-group .right-group .search-label::before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 15px;
  background: url('../img/search.svg') center / contain no-repeat;
}
@media only screen and (max-width: 1200px) and (min-width: 768px) {
  .container .row .input-group .right-group {
    width: 55%;
  }
}
.container .row .input-group .left-group {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
  position: relative;
}
.container .row .input-group .left-group .icons {
  display: flex;
  justify-content: space-between;
}
.container .row .input-group .left-group .icons .notification {
  cursor: pointer;
  width: 30px;
}
@media only screen and (max-width: 1200px) and (min-width: 768px) {
  .container .row .input-group .left-group .icons .notification {
    width: 25px;
  }
}
.container .row .input-group .left-group .icons .icon-container {
  display: flex;
  align-items: center;
  padding: 0 0.5em;
}
@media only screen and (max-width: 1200px) and (min-width: 768px) {
  .container .row .input-group .left-group .icons .icon-container .comment {
    width: 18px;
    margin-left: 0.5em;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 768px) {
  .container .row .input-group .left-group .icons .icon-container {
    padding: 0 0.3em;
  }
}
.container .row .input-group .left-group .profile-group {
  display: flex;
  align-items: center;
  padding: 0 1em;
  border-right: 1px solid #d7dbec;
  margin-right: 1em;
  font-size: 0.8em;
}
.container .row .input-group .left-group .profile-group .profile-container {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  overflow: hidden;
}
.container .row .input-group .left-group .profile-group .profile-container img {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 1200px) {
  .container .row .input-group .left-group .profile-group .profile-container {
    width: 33px;
    height: 33px;
  }
}
.container .row .input-group .left-group .profile-group .non-parent-register {
  position: absolute;
  top: 46px;
  left: 51px;
  width: 280px;
  display: none;
  z-index: 3;
}
@media only screen and (max-width: 1200px) and (min-width: 768px) {
  .container .row .input-group .left-group .profile-group .non-parent-register {
    top: 40px;
    left: 17px;
  }
}
.container .row .input-group .left-group .profile-group .non-parent-register .selected-hidden-register {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 0.7em 1.5em;
  position: relative;
}
.container .row .input-group .left-group .profile-group .non-parent-register .selected-hidden-register .title {
  border-bottom: 1px solid #d7dbec;
  padding: 0.6em 0;
  font-size: 1em;
}
.container .row .input-group .left-group .profile-group .non-parent-register .selected-hidden-register .register {
  display: flex;
  justify-content: space-around;
  padding: 0.5em 0;
  border-bottom: 1px solid #d7dbec;
}
.container .row .input-group .left-group .profile-group .non-parent-register .selected-hidden-register .register .register-icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
}
.container .row .input-group .left-group .profile-group .non-parent-register .selected-hidden-register .register .register-icon img {
  width: 100%;
  height: 100%;
}
.container .row .input-group .left-group .profile-group .non-parent-register .selected-hidden-register .register .name {
  font-size: 0.8em;
}
.container .row .input-group .left-group .profile-group .non-parent-register .selected-hidden-register .register .detail {
  font-size: 0.75em;
  color: #7a92af;
}
.container .row .input-group .left-group .profile-group .non-parent-register .selected-hidden-register .register .time-ago {
  display: flex;
  font-size: 0.6em;
  color: #7a92af;
}
.container .row .input-group .left-group .profile-group .non-parent-register .selected-hidden-register .register:last-child {
  border-bottom: none;
}
.container .row .input-group .left-group .profile-group .non-parent-register .selected-hidden-register .all-register {
  border: none;
  text-decoration: none;
  background-color: transparent;
  color: #00baba;
  text-align: center;
  font-size: 1em;
  cursor: pointer;
  font-family: IRANSansXMedium;
  padding-top: 0.7em;
  width: 100%;
}
.container .row .input-group .left-group .profile-group .non-parent-register .selected-hidden-register::before {
  content: '';
  position: absolute;
  left: 47%;
  top: -8px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
}
.container .row .input-group .left-group .profile-group .name {
  margin-left: 0.7em;
}
@media only screen and (max-width: 1200px) and (min-width: 768px) {
  .container .row .input-group .left-group .profile-group .name {
    font-size: 0.75em;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 768px) {
  .container .row .input-group .left-group {
    width: 45%;
  }
}
@media only screen and (max-width: 768px) {
  .container .row .input-group {
    display: none;
  }
}
.container .row .navbar {
  width: 100%;
  background-color: #fff;
  margin-bottom: 0.3em;
  height: 10vh;
  padding: 0 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  direction: ltr;
}
.container .row .navbar .logo {
  width: 60px;
}
.container .row .navbar .profile-container {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}
.container .row .navbar .profile-container img {
  width: 100%;
  height: 100%;
}
.container .row .navbar .menue {
  width: 23px;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .container .row .navbar {
    display: none;
  }
}
.container .row .src-group {
  min-height: 88vh;
  background-color: #fff;
  padding: 0 1.7em;
  padding-top: 3em;
  padding-bottom: 1em;
}
.container .row .src-group #hide {
  position: absolute;
  bottom: 13vh;
  width: 95%;
}
@media only screen and (max-width: 768px) {
  .container .row .src-group #hide {
    display: none;
  }
}
@media only screen and (max-width: 1100px) {
  .container .row .src-group {
    padding-bottom: 1em;
    min-height: 60vh;
  }
}
@media only screen and (max-width: 768px) {
  .container .row .src-group {
    margin: 0.5em 0.9em;
    width: calc(100% - 1.8em);
    background-color: #d7dbec;
    padding: 0.3em 0;
  }
}
.container .row .edit-page {
  min-height: 88vh;
  background-color: #fff;
  padding: 0 1.7em;
  padding-top: 3em;
  padding-bottom: 1em;
  border-radius: 0.7em;
  display: none;
}
.container .row .edit-page .icons-row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0.5em 0;
}
.container .row .edit-page .icons-row img {
  width: 20px;
  margin: 0 0.4em;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .container .row .edit-page .icons-row {
    margin-top: 1em;
  }
}
.container .row .edit-page .data-row {
  display: flex;
  justify-content: space-between;
}
.container .row .edit-page .data-row .profile-container {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #e99d7b;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .row .edit-page .data-row .profile-container img {
  width: 88%;
  height: 88%;
}
@media only screen and (max-width: 550px) {
  .container .row .edit-page .data-row .profile-container {
    margin: 1em 0;
  }
}
.container .row .edit-page .data-row .flex-item {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0.7em 0;
  font-size: 0.87em;
}
.container .row .edit-page .data-row .flex-item .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.7em 0;
  width: 45%;
}
.container .row .edit-page .data-row .flex-item .item .password-group {
  display: flex;
  align-items: center;
  width: 55%;
}
.container .row .edit-page .data-row .flex-item .item .password-group img {
  cursor: pointer;
  width: 20px;
  margin-right: 0.5em;
}
@media only screen and (max-width: 768px) {
  .container .row .edit-page .data-row .flex-item .item .password-group img {
    width: 15px;
  }
}
.container .row .edit-page .data-row .flex-item .item .password-group .answer {
  width: 80%;
}
.container .row .edit-page .data-row .flex-item .item .answer {
  width: 55%;
  font-family: IRANSansXMedium;
  padding: 0.2em 0.5em;
  background-color: #fff;
  border: none;
  font-size: 0.87em;
}
.container .row .edit-page .data-row .flex-item .item .answer:focus {
  outline: none;
}
@media only screen and (max-width: 1000px) {
  .container .row .edit-page .data-row .flex-item .item .answer {
    font-size: 1em;
  }
}
@media only screen and (max-width: 555px) {
  .container .row .edit-page .data-row .flex-item .item .answer {
    font-size: 0.9em;
  }
}
@media only screen and (max-width: 1000px) {
  .container .row .edit-page .data-row .flex-item .item {
    width: calc(100% - 4em);
  }
}
@media only screen and (max-width: 550px) {
  .container .row .edit-page .data-row .flex-item .item {
    width: 100%;
  }
}
@media only screen and (max-width: 1000px) {
  .container .row .edit-page .data-row .flex-item {
    flex-direction: column;
    align-items: flex-start;
    margin: 0.7em 0;
    font-size: 0.7em;
    margin-right: 2em;
    width: 85%;
  }
}
@media only screen and (max-width: 550px) {
  .container .row .edit-page .data-row .flex-item {
    width: 100%;
  }
}
@media only screen and (max-width: 550px) {
  .container .row .edit-page .data-row {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}
@media only screen and (max-width: 768px) {
  .container .row .edit-page {
    margin: 0.5em 0.9em;
    width: calc(100% - 1.8em);
    padding: 0.3em 1.7em;
  }
}
@media only screen and (max-width: 1000px) and (min-width: 768px) {
  .container .row {
    width: 76%;
    right: 24%;
  }
}
@media only screen and (max-width: 768px) {
  .container .row {
    position: static;
    width: 100%;
  }
}
.container .blur {
  filter: blur(3px);
}
@media only screen and (max-width: 768px) {
  .container {
    margin: 0;
    width: 100%;
  }
}
@keyframes slit-in-vertical {
  0% {
    transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
  }
  54% {
    transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
  }
  100% {
    transform: translateZ(0) rotateY(0);
  }
}
#modal {
  display: none;
  position: fixed;
  z-index: 8785;
  padding-top: 5em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: IRANSansXMedium;
  transition: all 0.3s linear;
}
#modal .modal-content {
  background-color: #fff;
  width: 25%;
  min-height: 30%;
  padding: 1em 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 0.5em;
  animation: slit-in-vertical 0.45s ease-out both;
}
#modal .modal-content .modal-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#modal .modal-content .modal-header .success {
  width: 70px;
}
#modal .modal-content .modal-header .error {
  width: 50px;
}
#modal .modal-content .modal-header .modal-title {
  padding-top: 0.5em;
  font-weight: 600;
  font-size: 1.1em;
}
#modal .modal-content .modal-body {
  color: #4d4f5c;
  padding: 1em;
}
#modal .modal-content .modal-footer .ok-button {
  border: none;
  border-radius: 4px;
  padding: 0 16px;
  min-width: 64px;
  height: 36px;
  vertical-align: middle;
  text-align: center;
  line-height: 36px;
  background-color: #7cd1f9;
  color: #fff;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  font-family: IRANSansXMedium;
  font-size: 0.85em;
  font-weight: 500;
  outline: none;
  cursor: pointer;
}
#modal .modal-content:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.911);
}
.container .row .src-group {
  position: relative;
}
.container .row .src-group .search-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.container .row .src-group .search-group .national-search-group {
  width: 30%;
}
.container .row .src-group .search-group .national-search-group .search-label {
  position: relative;
}
.container .row .src-group .search-group .national-search-group .search-label .input {
  border: 1px solid #d7dbec;
  border-radius: 0.5em;
  width: 100%;
  padding: 0.9em 3em;
  text-align: right;
}
.container .row .src-group .search-group .national-search-group .search-label .input::placeholder {
  color: #d7dbec;
  font-weight: 700;
  font-family: IRANSansXMedium;
}
@media only screen and (max-width: 1250px) {
  .container .row .src-group .search-group .national-search-group .search-label .input::placeholder {
    font-size: 0.75em;
  }
}
.container .row .src-group .search-group .national-search-group .search-label .input:focus {
  outline: none;
}
@media only screen and (max-width: 1250px) {
  .container .row .src-group .search-group .national-search-group .search-label .input {
    padding: 0.7em 3em;
  }
}
.container .row .src-group .search-group .national-search-group .search-label::before {
  content: '';
  position: absolute;
  right: 5%;
  top: 0;
  bottom: 0;
  width: 15px;
  background: url('../img/search.svg') center / contain no-repeat;
}
@media only screen and (max-width: 1250px) {
  .container .row .src-group .search-group .national-search-group .search-label::before {
    width: 12px;
  }
}
.container .row .src-group .search-group .result {
  display: flex;
  font-size: 0.8em;
  position: relative;
}
.container .row .src-group .search-group .result .non-parent-result {
  display: none;
  position: absolute;
  top: 120%;
  left: 35%;
  width: 45%;
  z-index: 3;
}
.container .row .src-group .search-group .result .non-parent-result .selected-hidden-result {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
}
.container .row .src-group .search-group .result .non-parent-result .selected-hidden-result .count {
  text-align: center;
  padding: 0.4em 0;
  border-bottom: 1px solid #d7dbec;
  cursor: pointer;
}
.container .row .src-group .search-group .result .non-parent-result .selected-hidden-result .count:last-child {
  border-bottom: none;
}
.container .row .src-group .search-group .result .arrow-icon {
  cursor: pointer;
}
@media only screen and (max-width: 1250px) {
  .container .row .src-group .search-group .result .arrow-icon {
    width: 8px;
  }
}
.container .row .src-group .search-group .result .light-text {
  color: #7a92af;
  margin-left: 1em;
  cursor: pointer;
}
.container .row .src-group .search-group .result .light-text .show-count {
  color: #000;
}
.container .row .src-group .search-group .result .result-number {
  margin-right: 0.7em;
  border-right: 1px solid #7a92af;
  padding-right: 1em;
}
.container .row .src-group .search-group .pagination {
  list-style: none;
  display: flex;
  font-size: 0.8em;
}
.container .row .src-group .search-group .pagination li {
  display: flex;
}
.container .row .src-group .search-group .pagination li a {
  text-decoration: none;
  padding: 0.4em 1em;
  border: 1px solid #d7dbec;
  color: #131523;
  border-right: 0;
  display: block;
}
.container .row .src-group .search-group .pagination li a:first-child {
  border-right: none;
}
.container .row .src-group .search-group .pagination li:last-child a,
.container .row .src-group .search-group .pagination li:first-child a {
  padding: 0.4em 1.5em;
}
.container .row .src-group .search-group .pagination li:last-child a {
  border-radius: 0.5em 0 0 0.5em;
}
.container .row .src-group .search-group .pagination li:first-child a {
  border-right: 1px solid #d7dbec;
  border-radius: 0 0.5em 0.5em 0;
}
.container .row .src-group .search-group .pagination .selected {
  color: #fff;
  background-color: #00baba;
}
.container .row .src-group .search-group .filter-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 16%;
  color: #828282;
  position: relative;
}
.container .row .src-group .search-group .filter-group .filter-select {
  cursor: pointer;
}
.container .row .src-group .search-group .filter-group .filter-icon {
  width: 10%;
}
.container .row .src-group .search-group .filter-group .non-parent-select {
  display: none;
  position: absolute;
  top: 115%;
  left: 0;
  z-index: 3;
  width: 100%;
}
.container .row .src-group .search-group .filter-group .non-parent-select .selected-hidden {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  z-index: 3;
}
.container .row .src-group .search-group .filter-group .non-parent-select .selected-hidden .filter {
  border: none;
  background-color: transparent;
  font-family: IRANSansXMedium;
  border-bottom: 1px solid #d7dbec;
  font-size: 0.8em;
  padding: 0.9em 1.5em;
  text-align: right;
  cursor: pointer;
}
.container .row .src-group .search-group .filter-group .non-parent-select .selected-hidden .filter:last-child {
  border-bottom: none;
}
@media only screen and (max-width: 1100px) {
  .container .row .src-group .search-group {
    display: none;
  }
}
@media only screen and (max-width: 1250px) {
  .container .row .src-group .search-group {
    font-size: 0.75em;
  }
}
.container .row .src-group .mobile-search-group {
  background-color: #fff;
  border-radius: 0.3em;
  width: 100%;
  height: 7vh;
  position: relative;
  display: none;
}
.container .row .src-group .mobile-search-group .right-group {
  position: absolute;
  right: 0;
  width: 70%;
  height: 100%;
}
.container .row .src-group .mobile-search-group .right-group .mobile-search-label {
  position: absolute;
  width: 100%;
  height: 100%;
}
.container .row .src-group .mobile-search-group .right-group .mobile-search-label .input {
  border: none;
  border-radius: 0.3em;
  width: 100%;
  height: 100%;
  padding: 0.9em 3em;
  text-align: right;
}
.container .row .src-group .mobile-search-group .right-group .mobile-search-label .input::placeholder {
  color: #7a92af;
  font-family: IRANSansXMedium;
}
@media only screen and (max-width: 500px) {
  .container .row .src-group .mobile-search-group .right-group .mobile-search-label .input::placeholder {
    font-size: 0.8em;
  }
}
.container .row .src-group .mobile-search-group .right-group .mobile-search-label .input:focus {
  outline: none;
}
@media only screen and (max-width: 500px) {
  .container .row .src-group .mobile-search-group .right-group .mobile-search-label .input {
    font-size: 0.8em;
  }
}
.container .row .src-group .mobile-search-group .right-group .mobile-search-label::before {
  content: '';
  position: absolute;
  right: 15px;
  top: 0;
  bottom: 0;
  width: 15px;
  background: url('../img/mobile-search.svg') center / contain no-repeat;
}
@media only screen and (max-width: 500px) {
  .container .row .src-group .mobile-search-group .right-group .mobile-search-label::before {
    width: 12px;
  }
}
.container .row .src-group .mobile-search-group .right-group .mobile-search-label::after {
  content: '';
  position: absolute;
  left: 0;
  top: 20%;
  bottom: 0;
  width: 2px;
  height: 60%;
  background-color: #d7dbec;
}
@media only screen and (max-width: 500px) {
  .container .row .src-group .mobile-search-group .right-group {
    width: 62%;
  }
}
.container .row .src-group .mobile-search-group .left-group {
  width: 30%;
  height: 100%;
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 0.8em;
}
.container .row .src-group .mobile-search-group .left-group .filter-icon {
  width: 13px;
}
@media only screen and (max-width: 500px) {
  .container .row .src-group .mobile-search-group .left-group .filter-icon {
    width: 10px;
  }
}
.container .row .src-group .mobile-search-group .left-group .icon-filter-select {
  width: 13px;
}
@media only screen and (max-width: 500px) {
  .container .row .src-group .mobile-search-group .left-group .icon-filter-select {
    width: 9px;
  }
}
.container .row .src-group .mobile-search-group .left-group .text {
  color: #7a92af;
}
.container .row .src-group .mobile-search-group .left-group .non-parent-select {
  display: none;
  position: absolute;
  top: 115%;
  left: 0;
  z-index: 3;
  width: 100%;
}
.container .row .src-group .mobile-search-group .left-group .non-parent-select .selected-hidden {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  z-index: 3;
}
.container .row .src-group .mobile-search-group .left-group .non-parent-select .selected-hidden .filter {
  border: none;
  background-color: transparent;
  font-family: IRANSansXMedium;
  border-bottom: 1px solid #d7dbec;
  font-size: 0.8em;
  padding: 0.9em 1.5em;
  text-align: right;
  cursor: pointer;
}
.container .row .src-group .mobile-search-group .left-group .non-parent-select .selected-hidden .filter:last-child {
  border-bottom: none;
}
@media only screen and (max-width: 500px) {
  .container .row .src-group .mobile-search-group .left-group #arrow-select {
    width: 7px;
  }
}
@media only screen and (max-width: 500px) {
  .container .row .src-group .mobile-search-group .left-group {
    width: 38%;
    font-size: 0.65em;
  }
}
@media only screen and (max-width: 1100px) {
  .container .row .src-group .mobile-search-group {
    display: block;
  }
}
.container .row .src-group .table {
  width: 100%;
  text-align: right;
  border-collapse: collapse;
  margin: 1em 0;
  font-size: 0.68em;
  margin-bottom: 12em;
}
.container .row .src-group .table .header {
  background-color: #f5f6fa;
  color: #a3a6b4;
}
.container .row .src-group .table .header th {
  padding: 1.2em 1em;
}
.container .row .src-group .table .item {
  border-bottom: 1px solid #d7dbec;
  text-align: right;
  margin: 5%;
}
.container .row .src-group .table .item .column-phone {
  width: 12%;
}
.container .row .src-group .table .item .column-time {
  width: 7%;
}
.container .row .src-group .table .item .status {
  display: flex;
  align-items: center;
  padding: 2em 1em;
}
.container .row .src-group .table .item .status .circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 0.5em;
}
.container .row .src-group .table .item td {
  padding: 0.5em 1em;
}
.container .row .src-group .table .item .dots {
  position: relative;
  width: 8px;
}
.container .row .src-group .table .item .dots img {
  width: 25px;
  height: 25px;
}
@media only screen and (max-width: 1200px) and (min-width: 1000px) {
  .container .row .src-group .table .item .dots img {
    height: 20px;
    width: 20px;
  }
}
.container .row .src-group .table .item .dots .modal {
  display: none;
  position: fixed;
  z-index: 8785;
  padding-top: 5em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: IRANSansXMedium;
  transition: all 0.3s linear;
}
.container .row .src-group .table .item .dots .modal .modal-content {
  background-color: #fff;
  width: 30%;
  min-height: 35%;
  padding: 1em 4em;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.container .row .src-group .table .item .dots .modal .modal-content .modal-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
}
.container .row .src-group .table .item .dots .modal .modal-content .modal-header .close {
  color: #a4afb7;
  font-size: 3.5em;
  transition: 0.3s;
  text-decoration: none;
}
.container .row .src-group .table .item .dots .modal .modal-content .modal-header .close:hover,
.container .row .src-group .table .item .dots .modal .modal-content .modal-header .close:focus {
  color: #000;
  cursor: pointer;
}
.container .row .src-group .table .item .dots .modal .modal-content .modal-header .title {
  font-size: 2em;
  color: #231942;
}
.container .row .src-group .table .item .dots .modal .modal-content .modal-body .modal-text {
  color: #4d4f5c;
}
.container .row .src-group .table .item .dots .modal .modal-content .modal-body .blue {
  color: #25b3e8;
}
.container .row .src-group .table .item .dots .modal .modal-content .modal-body .red {
  color: #e92626;
}
.container .row .src-group .table .item .dots .modal .modal-content .modal-body .green {
  color: #03e055;
}
.container .row .src-group .table .item .dots .modal .modal-content .modal-body .textarea {
  resize: none;
  width: 100%;
  height: 150px;
  border: 1px solid #7a92af;
  border-radius: 0.5em;
  margin-top: 1.3em;
  font-family: IRANSansXMedium;
  padding: 1em;
}
.container .row .src-group .table .item .dots .modal .modal-content .modal-body .textarea::placeholder {
  font-family: IRANSansXMedium;
  color: #7a92af;
}
.container .row .src-group .table .item .dots .modal .modal-content .modal-body .textarea:focus {
  outline: none;
}
.container .row .src-group .table .item .dots .modal .modal-content .modal-body .show-selected {
  border: 1px solid #7a92af;
  padding: 1em 1.5em;
  border-radius: 0.5em;
  margin-top: 1.3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.container .row .src-group .table .item .dots .modal .modal-content .modal-body .show-selected .selected-text {
  font-weight: 600;
  font-size: 1em;
}
.container .row .src-group .table .item .dots .modal .modal-content .modal-body .show-selected .black {
  color: #131523;
}
.container .row .src-group .table .item .dots .modal .modal-content .modal-body .show-selected img {
  width: 12px;
}
.container .row .src-group .table .item .dots .modal .modal-content .modal-body .non-parent-registration-level,
.container .row .src-group .table .item .dots .modal .modal-content .modal-body .non-parent-registration-status {
  display: none;
}
.container .row .src-group .table .item .dots .modal .modal-content .modal-body .non-parent-registration-level .select-option,
.container .row .src-group .table .item .dots .modal .modal-content .modal-body .non-parent-registration-status .select-option {
  border: 1px solid #7a92af;
  border-radius: 0.5em;
  margin-top: 0.3em;
  color: #131523;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  padding: 0.8em 0;
}
.container .row .src-group .table .item .dots .modal .modal-content .modal-body .non-parent-registration-level .select-option .registration-status,
.container .row .src-group .table .item .dots .modal .modal-content .modal-body .non-parent-registration-status .select-option .registration-status,
.container .row .src-group .table .item .dots .modal .modal-content .modal-body .non-parent-registration-level .select-option .registration-level,
.container .row .src-group .table .item .dots .modal .modal-content .modal-body .non-parent-registration-status .select-option .registration-level {
  cursor: pointer;
  padding: 0.6em 1.5em;
}
.container .row .src-group .table .item .dots .modal .modal-content .modal-body .non-parent-registration-level .select-option .registration-status:hover,
.container .row .src-group .table .item .dots .modal .modal-content .modal-body .non-parent-registration-status .select-option .registration-status:hover,
.container .row .src-group .table .item .dots .modal .modal-content .modal-body .non-parent-registration-level .select-option .registration-level:hover,
.container .row .src-group .table .item .dots .modal .modal-content .modal-body .non-parent-registration-status .select-option .registration-level:hover {
  background-color: #f5f6fa;
}
.container .row .src-group .table .item .dots .modal .modal-content .modal-body .non-parent-registration-level .select-option .registration-status:first-child,
.container .row .src-group .table .item .dots .modal .modal-content .modal-body .non-parent-registration-status .select-option .registration-status:first-child,
.container .row .src-group .table .item .dots .modal .modal-content .modal-body .non-parent-registration-level .select-option .registration-level:first-child,
.container .row .src-group .table .item .dots .modal .modal-content .modal-body .non-parent-registration-status .select-option .registration-level:first-child {
  border-radius: 0.5em 0.5em 0 0;
}
.container .row .src-group .table .item .dots .modal .modal-content .modal-body .non-parent-registration-level .select-option .registration-status:last-child,
.container .row .src-group .table .item .dots .modal .modal-content .modal-body .non-parent-registration-status .select-option .registration-status:last-child,
.container .row .src-group .table .item .dots .modal .modal-content .modal-body .non-parent-registration-level .select-option .registration-level:last-child,
.container .row .src-group .table .item .dots .modal .modal-content .modal-body .non-parent-registration-status .select-option .registration-level:last-child {
  border-radius: 0 0 0.5em 0.5em;
}
.container .row .src-group .table .item .dots .modal .modal-content .modal-footer {
  display: flex;
  align-items: center;
}
.container .row .src-group .table .item .dots .modal .modal-content .modal-footer .button {
  margin: 1.7em 0 1em 0;
  border: none;
  font-family: IRANSansXMedium;
  font-size: 1.3em;
  border-radius: 0.5em;
  width: 50%;
  height: 7vh;
  cursor: pointer;
}
.container .row .src-group .table .item .dots .modal .modal-content .modal-footer .red-button {
  background-color: #e99d7b;
  color: #fff;
  margin-left: 1em;
}
.container .row .src-group .table .item .dots .modal .modal-content .modal-footer .white-button {
  border: 1px solid #7a92af;
  color: #131523;
  background-color: #fff;
}
.container .row .src-group .table .item .dots .non-parent-dots {
  position: absolute;
  top: 30px;
  left: 50px;
  width: 12vw;
  display: none;
  z-index: 3;
}
.container .row .src-group .table .item .dots .non-parent-dots .selected-hidden-dots {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
  display: flex;
  flex-direction: column;
}
.container .row .src-group .table .item .dots .non-parent-dots .selected-hidden-dots .modal-btn {
  border-bottom: 1px solid #d7dbec;
  font-size: 1em;
  padding: 0.5em 1em;
  text-align: right;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.container .row .src-group .table .item .dots .non-parent-dots .selected-hidden-dots .modal-btn img {
  width: 9%;
  margin-left: 0.6em;
}
.container .row .src-group .table .item .button,
.container .row .src-group .table .item .detail {
  display: inline-block;
  background-color: #e99d7b;
  text-decoration: none;
  border-radius: 0.6em;
  color: #000000;
  width: 110px;
  padding: 0.8em 0;
  text-align: center;
}
@media only screen and (max-width: 1200px) {
  .container .row .src-group .table .item .button,
  .container .row .src-group .table .item .detail {
    width: 95px;
  }
}
.container .row .src-group .table .item .detail {
  color: #000000;
  width: 150px;
}
.container .row .src-group .table .item:last-child {
  border-bottom: none;
}
@media only screen and (max-width: 1100px) {
  .container .row .src-group .table {
    display: none;
  }
}
@media only screen and (max-width: 1250px) and (min-width: 1100px) {
  .container .row .src-group .table {
    font-size: 0.59em;
  }
}
.container .row .src-group .mobile-table-box {
  display: none;
}
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table-header {
  background-color: #fff;
  display: flex;
  align-items: center;
  margin-top: 0.5em;
  border-radius: 0.3em;
  height: 7vh;
  padding: 0.3em 0;
  position: relative;
}
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table-header .select {
  width: 10px;
  position: absolute;
  left: 20px;
}
@media only screen and (max-width: 500px) {
  .container .row .src-group .mobile-table-box .mobile-table-group .mobile-table-header .select {
    width: 8px;
  }
}
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table-header .name {
  font-size: 0.8em;
  position: absolute;
  right: 80px;
}
@media only screen and (max-width: 500px) {
  .container .row .src-group .mobile-table-box .mobile-table-group .mobile-table-header .name {
    font-size: 0.7em;
    right: 60px;
  }
}
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table-header .number {
  color: #7a92af;
  position: absolute;
  right: 20px;
}
@media only screen and (max-width: 500px) {
  .container .row .src-group .mobile-table-box .mobile-table-group .mobile-table-header .number {
    font-size: 0.8em;
  }
}
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table {
  background-color: #fff;
  width: 100%;
  padding: 0.3em 1em;
  margin-bottom: 0.5em;
  display: none;
  border-radius: 0 0 0.3em 0.3em;
}
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d7dbec;
  padding: 1em 0.5em;
  font-size: 0.75em;
}
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .title {
  color: #7a92af;
  width: 30%;
  margin-left: 1em;
}
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .column-phone {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .status {
  display: flex;
  align-items: center;
}
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .status .circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 0.5em;
}
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .dots {
  position: relative;
}
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .dots img {
  width: 25px;
  height: 25px;
}
@media only screen and (max-width: 1200px) and (min-width: 1000px) {
  .container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .dots img {
    height: 20px;
    width: 20px;
  }
}
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .dots .modal {
  display: none;
  position: fixed;
  z-index: 8785;
  padding-top: 5em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  font-family: IRANSansXMedium;
  transition: all 0.3s linear;
}
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .dots .modal .modal-content {
  background-color: #fff;
  width: 80%;
  min-height: 35%;
  padding: 1em 4em;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .dots .modal .modal-content .modal-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
}
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .dots .modal .modal-content .modal-header .close {
  color: #a4afb7;
  font-size: 3.5em;
  transition: 0.3s;
  text-decoration: none;
}
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .dots .modal .modal-content .modal-header .close:hover,
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .dots .modal .modal-content .modal-header .close:focus {
  color: #000;
  cursor: pointer;
}
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .dots .modal .modal-content .modal-header .title {
  font-size: 1.7em;
  color: #231942;
  width: 85%;
}
@media only screen and (max-width: 400px) {
  .container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .dots .modal .modal-content .modal-header .title {
    font-size: 1.4em;
  }
}
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .dots .modal .modal-content .modal-body .modal-text {
  color: #4d4f5c;
}
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .dots .modal .modal-content .modal-body .blue {
  color: #25b3e8;
}
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .dots .modal .modal-content .modal-body .red {
  color: #e92626;
}
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .dots .modal .modal-content .modal-body .green {
  color: #03e055;
}
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .dots .modal .modal-content .modal-body .textarea {
  resize: none;
  width: 100%;
  height: 150px;
  border: 1px solid #7a92af;
  border-radius: 0.5em;
  margin-top: 1.3em;
  font-family: IRANSansXMedium;
  padding: 1em;
  font-size: 1em;
}
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .dots .modal .modal-content .modal-body .textarea::placeholder {
  font-family: IRANSansXMedium;
  color: #7a92af;
}
@media only screen and (max-width: 400px) {
  .container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .dots .modal .modal-content .modal-body .textarea::placeholder {
    font-size: 0.8em;
  }
}
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .dots .modal .modal-content .modal-body .textarea:focus {
  outline: none;
}
@media only screen and (max-width: 400px) {
  .container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .dots .modal .modal-content .modal-body .textarea {
    font-size: 0.9em;
  }
}
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .dots .modal .modal-content .modal-body .show-selected {
  border: 1px solid #7a92af;
  padding: 1em 1.5em;
  border-radius: 0.5em;
  margin-top: 1.3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .dots .modal .modal-content .modal-body .show-selected .selected-text {
  font-weight: 600;
  font-size: 1em;
}
@media only screen and (max-width: 400px) {
  .container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .dots .modal .modal-content .modal-body .show-selected .selected-text {
    font-size: 0.8em;
  }
}
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .dots .modal .modal-content .modal-body .show-selected .black {
  color: #131523;
}
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .dots .modal .modal-content .modal-body .show-selected img {
  width: 12px;
}
@media only screen and (max-width: 400px) {
  .container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .dots .modal .modal-content .modal-body .show-selected img {
    width: 8px;
  }
}
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .dots .modal .modal-content .modal-body .non-parent-registration-level,
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .dots .modal .modal-content .modal-body .non-parent-registration-status {
  display: none;
}
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .dots .modal .modal-content .modal-body .non-parent-registration-level .select-option,
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .dots .modal .modal-content .modal-body .non-parent-registration-status .select-option {
  border: 1px solid #7a92af;
  border-radius: 0.5em;
  margin-top: 0.3em;
  color: #131523;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  padding: 0.8em 0;
}
@media only screen and (max-width: 400px) {
  .container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .dots .modal .modal-content .modal-body .non-parent-registration-level .select-option,
  .container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .dots .modal .modal-content .modal-body .non-parent-registration-status .select-option {
    font-size: 0.8em;
  }
}
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .dots .modal .modal-content .modal-body .non-parent-registration-level .select-option .registration-status,
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .dots .modal .modal-content .modal-body .non-parent-registration-status .select-option .registration-status,
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .dots .modal .modal-content .modal-body .non-parent-registration-level .select-option .registration-level,
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .dots .modal .modal-content .modal-body .non-parent-registration-status .select-option .registration-level {
  cursor: pointer;
  padding: 0.6em 1.5em;
}
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .dots .modal .modal-content .modal-body .non-parent-registration-level .select-option .registration-status:hover,
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .dots .modal .modal-content .modal-body .non-parent-registration-status .select-option .registration-status:hover,
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .dots .modal .modal-content .modal-body .non-parent-registration-level .select-option .registration-level:hover,
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .dots .modal .modal-content .modal-body .non-parent-registration-status .select-option .registration-level:hover {
  background-color: #f5f6fa;
}
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .dots .modal .modal-content .modal-body .non-parent-registration-level .select-option .registration-status:first-child,
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .dots .modal .modal-content .modal-body .non-parent-registration-status .select-option .registration-status:first-child,
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .dots .modal .modal-content .modal-body .non-parent-registration-level .select-option .registration-level:first-child,
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .dots .modal .modal-content .modal-body .non-parent-registration-status .select-option .registration-level:first-child {
  border-radius: 0.5em 0.5em 0 0;
}
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .dots .modal .modal-content .modal-body .non-parent-registration-level .select-option .registration-status:last-child,
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .dots .modal .modal-content .modal-body .non-parent-registration-status .select-option .registration-status:last-child,
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .dots .modal .modal-content .modal-body .non-parent-registration-level .select-option .registration-level:last-child,
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .dots .modal .modal-content .modal-body .non-parent-registration-status .select-option .registration-level:last-child {
  border-radius: 0 0 0.5em 0.5em;
}
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .dots .modal .modal-content .modal-footer {
  display: flex;
  align-items: center;
}
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .dots .modal .modal-content .modal-footer .button {
  margin: 1.7em 0 1em 0;
  border: none;
  font-family: IRANSansXMedium;
  font-size: 1.1em;
  border-radius: 0.5em;
  width: 50%;
  height: 7vh;
  cursor: pointer;
}
@media only screen and (max-width: 400px) {
  .container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .dots .modal .modal-content .modal-footer .button {
    font-size: 0.9em;
    height: 5vh;
  }
}
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .dots .modal .modal-content .modal-footer .red-button {
  background-color: #e99d7b;
  color: #fff;
  margin-left: 1em;
}
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .dots .modal .modal-content .modal-footer .white-button {
  border: 1px solid #7a92af;
  color: #131523;
  background-color: #fff;
}
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .dots .non-parent-dots {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 150px;
  display: none;
  z-index: 3;
}
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .dots .non-parent-dots .selected-hidden-dots {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
  display: flex;
  flex-direction: column;
}
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .dots .non-parent-dots .selected-hidden-dots .modal-btn {
  border-bottom: 1px solid #d7dbec;
  font-size: 1em;
  padding: 0.5em 1em;
  text-align: right;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .dots .non-parent-dots .selected-hidden-dots .modal-btn img {
  width: 10%;
  margin-left: 0.6em;
}
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .button {
  display: inline-block;
  background-color: #e99d7b;
  text-decoration: none;
  border-radius: 0.5em;
  height: 35px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 0.95em;
}
@media only screen and (max-width: 400px) {
  .container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line .button {
    height: 30px;
    width: 100px;
  }
}
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line:last-child {
  border-bottom: none;
}
.container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line:first-child {
  border-top: 1px solid #d7dbec;
}
@media only screen and (max-width: 400px) {
  .container .row .src-group .mobile-table-box .mobile-table-group .mobile-table .line {
    font-size: 0.65em;
  }
}
.container .row .src-group .mobile-table-box .mobile-table-group .active {
  border-radius: 0.3em 0.3em 0 0;
}
@media only screen and (max-width: 1100px) {
  .container .row .src-group .mobile-table-box {
    display: block;
  }
}
.container .row #mobile-search-group {
  display: none;
  flex-direction: column-reverse;
  padding-bottom: 1em;
  font-size: 0.65em;
}
.container .row #mobile-search-group .result {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1em;
}
.container .row #mobile-search-group .result .right-group {
  position: relative;
}
.container .row #mobile-search-group .result .right-group .light-text {
  color: #7a92af;
  margin-left: 1em;
  cursor: pointer;
}
.container .row #mobile-search-group .result .right-group .light-text .show-count {
  color: #000;
}
.container .row #mobile-search-group .result .right-group .non-parent-result {
  position: absolute;
  top: 120%;
  width: 100%;
  left: 0;
  z-index: 3;
  display: none;
}
.container .row #mobile-search-group .result .right-group .non-parent-result .selected-hidden-result {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
}
.container .row #mobile-search-group .result .right-group .non-parent-result .selected-hidden-result .count {
  text-align: center;
  padding: 0.4em 0;
  border-bottom: 1px solid #d7dbec;
  cursor: pointer;
}
.container .row #mobile-search-group .result .right-group .non-parent-result .selected-hidden-result .count:last-child {
  border-bottom: none;
}
.container .row #mobile-search-group .result .right-group .arrow-icon {
  cursor: pointer;
}
.container .row #mobile-search-group .pagination {
  list-style: none;
  display: flex;
  width: 100%;
  background-color: #fff;
}
.container .row #mobile-search-group .pagination li {
  width: 10%;
}
.container .row #mobile-search-group .pagination li a {
  text-decoration: none;
  border: 1px solid #d7dbec;
  color: #131523;
  border-right: 0;
  padding: 0.6em 0;
  display: block;
  text-align: center;
}
.container .row #mobile-search-group .pagination li a:first-child {
  border-right: none;
}
.container .row #mobile-search-group .pagination li:first-child a {
  border-right: 1px solid #d7dbec;
}
.container .row #mobile-search-group .pagination li:last-child,
.container .row #mobile-search-group .pagination li:first-child {
  width: 20%;
}
.container .row #mobile-search-group .pagination .selected {
  color: #fff;
  background-color: #00baba;
}
@media only screen and (max-width: 1100px) and (min-width: 768px) {
  .container .row #mobile-search-group {
    display: flex;
    margin-top: 0.7em;
    margin: 0.5em 0;
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .container .row #mobile-search-group {
    display: flex;
    margin: 0.5em 1.3em;
    width: calc(100% - 2.6em);
  }
}
.blur {
  filter: blur(4px);
}
